.row-home {
  display: flex;
  flex-direction: column-reverse;
  align-items: end;
  position: relative;
}

.dark-blue-link {
  text-decoration: none;
  color: #023047;
}

.mt-6 {
  margin-top: 6px;
}

.br-15 {
  border-radius: 15px;
}
