
.row-home {
  display: flex;
  flex-direction: column-reverse;
  align-items: end;
}

.bottom-text-fixed {
  position: absolute;
  bottom: 125pt;
  right: 350pt;
  text-decoration: none;
  color: black;
}
