
  <footer class="footer">
     <div class="container">
      <div class="row">
        <div class="footer-col col-6">
          <h4><b>Pour mieux nous connaître</b></h4>
          <ul>
            <li class="hover-padding-left"><a href="#">A propos de nous</a></li>
            <li class="hover-padding-left"><a href="#">Nos services</a></li>
            <li class="hover-padding-left"><a href="#">Politique de confidentialité</a></li>
          </ul>
        </div>
        <div class="footer-col col-6">
          <h4><b>Besoin d'aide ?<b></h4>
          <ul>
            <li class="hover-padding-left"><a href="#">FAQ</a></li>
            <li class="hover-padding-left"><a href="#">Livraison</a></li>
            <li class="hover-padding-left"><a href="#">Retours</a></li>
          </ul>
        </div>

      </div>
     </div>
  </footer>
