<div class="container">

<div class="titles">
 <h1>Bienvenue sur Rent-A-Pal</h1>
 <h2>Des amis à louer, des souvenirs à créer.</h2>
</div>

  <div class="row-home">

   <div class="col-md-6">
    <%# mapbox %>
   </div>

    <div class="col-md-6">
    <% @last_pals.each do |pal| %>

        <%= render "pals/small_card", pal: pal %>

    <% end %>
</div>
     <%=link_to "Voir plus...", pals_path, class:"bottom-text-fixed" %>
  </div>

</div>
