<div class="container">

<div class="titles">
 <h1>Bienvenue sur Rent-A-Pal</h1>
 <h2>Des amis à louer, des souvenirs à créer</h2>
</div>

<div class="row">

  <div class="col-md-6 mt-6">
    <div class="br-15" style="width: 100%; height: 550px;"
      data-controller="map"
      data-map-markers-value="<%= @markers.to_json %>"
      data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
    </div>
  </div>

  <div class="col-md-6">
    <% @last_pals.each do |pal| %>
        <%= render "pals/small_card", pal: pal %>
    <% end %>
    <strong><%=link_to "Voir plus...", pals_path, class:"dark-blue-link center-flex" %></strong>
  </div>

</div>

</div>
