
  <h1 class="title">Bienvenue sur Rent-A-Pal !</h1>

  <div class="row justify-content-end">
    <div class="col-4">
      <div class="card-product">
        <%= image_tag "Joey.png" %>
        <div class="card-product-infos">
          <h2>Joey</h2>
          <p>31 ans et toutes ses dents ! <strong>relevant info</strong> only.</p>
        </div>
      </div>
    </div>
  </div>

  
  <span style="position: absolute; bottom: 0pt; right: 0pt;">Voir plus...</span>
