<div class="container">

<div class="titles">
 <h1>Bienvenue sur Rent-A-Pal</h1>
 <h2>Des amis à louer, des souvenirs à créer.</h2>
</div>

  <div class="row-home">
    <% @last_pals.each do |pal| %>
      <div class="col-6">
        <%= render "pals/small_card", pal: pal %>
      </div>
    <% end %>

     <%=link_to "Voir plus...", pals_path, class:"bottom-text-fixed" %>
  </div>

</div>
