@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
body{
  line-height: 1.5;
  font-family: 'Poppins', sans-serif;
}

*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}

.container{
  max-width: 1170px;
  margin:auto;
}

.row{
  display: flex;
  flex-wrap: wrap;
}

ul{
  list-style: none;
}

.footer{
  background-color: #ffb703;
  padding: 10px 0;
  box-shadow: 5px rgba(0, 0, 0, 0.1);
  margin-top: 40px;
}

.footer-col{
   padding: 5px 120px;
}

.footer-col h4{
  font-size: 16px;
  color: #023047;
  margin-bottom: 5px;
  font-weight: 200;
  position: relative;
}

.footer-col h4::before{
  content: '';
  position: absolute;
  left:0;
  bottom: -10px;
  height: 2px;
  box-sizing: border-box;
  width: 50px;
}

.footer-col ul li:not(:last-child){
  margin-bottom: 5px;
}

.footer-col ul li a{
  font-size: 14px;
  color: #023047;
  text-decoration: none;
  font-weight: 300;
  color: #023047;
  display: block;
  transition: all 0.3s ease;
}

.footer-col ul li a:hover{
  color: black;
}
