.navbar-lewagon {
  justify-content: space-between;
  color: #023047;
  background: #ffb703;
  position: sticky;
  top: 0px;
  border-radius: 3px;
  font-weight: 400;
  font-style: normal;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 100px;
}
