.small-card-product {
  overflow: hidden;
  height: 180px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  margin: 5px;
  // padding: 5px;
  border-radius: 15px;
  text-decoration: none;
  opacity: 0;
  animation: fadeInUp 0.5s ease-out forwards;
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.small-card-product .avatar {
  height: 100%;
  width: 160px;
  object-fit: cover;
}

.small-card-product h2 {
  font-size: 18px;
  font-weight: bold;
  margin: 30px;
}

.small-card-product p {
  font-size: 16px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 8px;
  margin-top: 8px;
  margin-left: 10px;
}

.small-card-product .card-product-infos {
  padding: 16px;
}

.center-flex {
  align-items: center;
  display: flex;
  justify-content: center;
}

.small-card-link {
  text-decoration: none;
  color: #023047;
}
