
<div class="container">
<h1>Liste des Pals disponible</h1>

  <div class="row">

    <% @pals.each do |pal| %>
      <div class="col-6">

        <%= render "small_card", pal: pal %>

      </div>
    <% end %>

  </div>
</div>
