<div class="container">
<div class="titles">
<h2>Votre futur meilleur ami vous attend ici</h2>
</div>

<div class="row justify-content-center">
  <div class="col-sm-8 my-3">
    <%= form_with url: pals_path, method: :get, class: "d-flex" do %>
      <%= text_field_tag :query,
            params[:query],
            class: "form-control",
            placeholder: "Que recherchez-vous ?"
        %>
      <%= submit_tag "Recherche", name: "", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>

  <div class="row">

    <% @pals.each do |pal| %>
      <div class="col-6">

        <%= render "small_card", pal: pal %>

      </div>
    <% end %>

  </div>
</div>
