<div class="container">
<div class="titles">
<h2>Votre futur meilleur ami vous attend ici</h2>
</div>

  <div class="row">

    <% @pals.each do |pal| %>
      <div class="col-6">

        <%= render "small_card", pal: pal %>

      </div>
    <% end %>

  </div>
</div>
